.contacts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social a{
  text-decoration: none;
}
.social img{
  width: 30px;
  margin: 0 20px;
}
.contacts__text{
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
}
.contacts__img{
 width: 50%;
}
.contacts__text p{
  font-size: 24px;
  font-weight: 500;
}
.contacts .location{
  text-transform: uppercase;
}
@media screen and (max-width: 890px) {
  .contacts__img{
    width: 100%;
  }
  .contacts__text{
    width: 100%;
    text-align: center;
  }
}
